.dashboard {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.dashboard h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px;
}